$text-font:'CoreMellow', sans-serif;

$text-color: #504e77; // темно-синий
$title-color: #a6f2db; // бирюзовый
$akcent-color: #658cb7; // темно-голубой
$bg-color:#daf9f0; // светло-голубой
$bg-blue:#9fc2d3; // голубой
$black-color:#000;
$h1-fz: 3.5rem;
$fz-nav-link: 3rem;