

// 

@font-face {
	font-family: 'CoreMellow';
	src: url(../fonts/CoreMellowRegular.otf);
}




* {
	box-sizing: border-box !important;
}

html {
	height: 100%;
	min-height: 100%;
	font-size: 10px;
	
	
	// font-weight: ;
}

body {
	font: 400 1.4rem/1.5 $text-font;
	// font-size: 0;
	min-height: 100%;
	color: $text-color;
	background-color: $bg-color;
	margin: 0;
	min-height: 60vh;

}
footer {
	min-height: 10rem;
	background-color: $text-color;


}
main {
	min-height: 50vh;
}

.container {

	//outline: 1px solid red;
}

.col {

	//outline: 1px solid yellow;
}
.row {
	//outline: 3px solid #000;
}
.col-3,.col-lg-4 {
	//outline: 1px solid orange;
}
.col-9,.col-8 {
	//outline: 1px solid blue;
}
.col-lg-6 {
	//outline: 1px solid blue;
}
.col-lg-8 {
	//outline: 1px solid orange;
}
.col-md-4 {
	//outline: 1px solid red;
}

@media screen and (max-width: 992px) {
	
}
@media screen and (max-width: 768px) {
	
}
@media screen and (max-width: 576px) {
	
}
@media screen and (max-width: 396px) {
	
}

// ==============


// section--hello

.section--hello {
	background-color: $akcent-color;
	margin-top: 29rem;
	@media screen and (max-width: 991px) {
		margin-top: 20rem;
		}
	@media screen and (max-width: 440px) {
		margin-top: 18rem;
		}	

}
.section--team {
	margin-top: 29rem;
	@media screen and (max-width: 991px) {
		margin-top: 20rem;
		}
}

.section--contact {
	margin-top: 29rem;
	@media screen and (max-width: 991px) {
		margin-top: 20rem;
		}
}
.contact {
	font-size: 1.8rem;
	&__title {
		font-size: 3rem;
	}
	&__content {
		font-size: 1.8rem;
	}
	&__link {
		text-decoration: underline;
		font-size: 1.8rem;
		color: $akcent-color;

	}
}

.section--about {
	margin-top: 29rem;
	@media screen and (max-width: 991px) {
		margin-top: 20rem;
		}
}
.about {
	font-size: 1.8rem;
	&__title {
		font-size: 3rem;
		text-align: center;
	}
	&__content {
		font-size: 1.8rem;
	}
	&__link {
		text-decoration: underline;
		font-size: 1.8rem;
		color: $akcent-color;

	}
}

.hello-text {
	font-size: 2.2rem;
	color: $bg-color;
	@media screen and (max-width: 576px) {
	font-size: 1.8rem;		
		}
}

.button-box {
	margin-top: 3rem;
	text-align: center;
}

.btn {
	&_hello{
		width: 35rem;
		height: 7rem;
		background-color: $text-color;
		text-transform: uppercase;
		text-decoration: none;
		font-size: 5rem;
		line-height: 5.5rem;
		text-align: center;
		color: $title-color;
		border-radius: 3.6rem;
		transition: all 0.6s;
		@media screen and (max-width: 992px) {
		width: 40%;
		height: 8%;
		font-size: 3.6rem;
		line-height: 3.6rem;
		border-radius: 3.6rem;
		}
		@media screen and (max-width: 768px) {
		font-size: 2.4rem;
		line-height: 2.4rem;
		border-radius: 2.4rem;	
		}
		@media screen and (max-width: 576px) {
			
		}
		@media screen and (max-width: 396px) {
			
		}
		&--left {
			margin-right:10%;
		// 	@media screen and (max-width: 768px) {
		// 	margin-right:9rem;	
		// }
		}
		&--right {
			margin-left:10%;
		// 	@media screen and (max-width: 768px) {
		// 	margin-left:5rem;
		// }
		}
		&:hover,&:focus {
			background-color:$title-color;
			color: $text-color;
			outline: none;
		}
		&:active {
			background-color:darken($title-color, 10%);
			color: lighten($text-color,10%);
			box-shadow:  0px 0px 0px 1px rgba(#fff, 0.4);
			outline: none;


		}

	}
	
}
.form_filter {
	display: flex;
	flex-direction: column;
}
.section__filter {
	font-size: 1.75rem;
	//background:$bg-blue;
	min-height: 50rem;
	//border-bottom-right-radius: 5rem;
	//border-bottom-left-radius: 5rem;
	//padding: 3rem;
	padding-top: 10rem;
	position: relative;
	z-index: 5;
	&_title {
		position: absolute;
		z-index: 10;
		width: 28rem;
		text-align: center;
		padding: 0 2rem 0 4rem ;
		top: 3rem;
		left: 50%;
		transform: translate(-50%,0);

		font-size: 3.6rem;	
		//border: 1px solid red;
		border-radius: 5rem;
		background-color: $bg-blue;
			&:before {
				position: absolute;
				top:50%;
				left:2rem;
				transform: translate(0,-50%);
				content:''; 
				background-image: url(../img/filter.png);
				background-size: contain;
				background-repeat: no-repeat;
				width: 3.6rem;
				height: 3.6rem;
				// outline: 1px solid yellow;

			}
	
	}
	@media screen and (max-width: 992px) {
		min-height: 10rem;
		}
}
.filter__list {
	list-style-type: none;
	background:$bg-blue;
	position: absolute;
	padding-left: 6rem;
	padding-top: 15rem;
	padding-bottom: 8rem;
	border-bottom-right-radius: 5rem;
	border-bottom-left-radius: 5rem;
	margin-top: 0;
	width: 32rem;
	top: 0;
	left: 50%;
	transform: translate(-50%,0);
	&_text {
		position: relative;
		padding-bottom: 2rem;
		&:before {
			position: absolute;
			top:-5px;
			left:-4rem;
			content: '';
			width: 2.5rem;
			height: 2.5rem;
			border: 4px solid $text-color;
			border-radius: 50%;
		}
	}
	&_input {
		display: none;

	}
	&_input:checked + &_text:before {
		content:'';
		outline:none;
		background-image: url('../img/check.png');
		background-repeat: no-repeat;
		background-position: center;
	
	
	}
	@media screen and (max-width: 992px) {
		display: none;
		&.active {
			display: block;
			border-radius: 5rem;
		}
	
}
	
}
.btn--submit_filter {
		width: 8rem;
		height: 5.3rem;
		background-color: $text-color;
		text-transform: uppercase;
		text-decoration: none;
		font-size: 3.6rem;
		line-height: 3.6rem;
		text-align: center;
		color: $title-color;
		border-radius: 3.6rem;
		border: none;
		transition: all 0.6s;
		outline: none;
		margin: 0 auto;
		position: absolute;
		bottom: 2rem;
		left: 50%;
		transform: translate(-50%,0);
		&:hover,&:focus {
			background-color:$title-color;
			color: $text-color;
			outline: none;
		}
		&:active {
			background-color:darken($title-color, 10%);
			color: lighten($text-color,10%);
			box-shadow:  0px 0px 0px 1px rgba(#fff, 0.4);
			outline: none;


		}
	}


.section--news {
	padding-bottom: 12rem;
}
.article {
	&__head {
		display: flex;
		justify-content: space-between;
		align-items: baseline;
		padding-bottom: 2.5rem;
	}
	&__title {
		font-size: 3.6rem;
		max-width: 90%;
	}
	&__data {
		font-size: 2.8rem;
		text-decoration: underline;
		color: $akcent-color;
	}
	&__content {
		font-size: 1.8rem;
		overflow: hidden;
		display: block;
		text-overflow: clip;
	  	max-height: 16rem;
	  	line-height: 1.8em;
	  	word-wrap: break-word;
	  	&.active {
			max-height: 500rem;
			// font-size: 20rem;
		} 

	}
	
	&__more {
		font-size: 1.8rem;
		text-decoration: underline;
		color: $akcent-color;
		cursor: pointer;
		
		&:hover {
			color: $text-color;
		}
		

	}
	&__imgbox {
		overflow: hidden;  
	  	position: relative;
	  	height: 98%;
	  	width: 100%;
	}
	&__img {
  	 	
  		
  		max-width: 100%;
  		height: auto;
  		position: absolute;  
  		top: 0;
  		left: 50%;  
  		transform: translate(-50%, 0);
	}


}


// header

 header {

	z-index: 1001;
	position: relative;
	background:$text-color;
	line-height: 4rem;
	

}

.header-box {
	padding-top: 3rem ;
 	padding-bottom: 3rem ;
	border-bottom: 3px solid $title-color;
	position: fixed;
	top: 0;
	background:$text-color;
	
	 @media screen and (max-width: 992px) {
	 	//border-bottom: 21px solid $title-color;
		border: none;
		}

}
.glide {
	border: none;
	
}
.glide {

}
.header-row {
	flex-direction: row;
	// @media screen and (max-width: 992px) {
	// flex-direction: row-reverse;
	// }
}
.toggle-box {
	display: none;
		@media screen and (max-width: 992px) {
	display: block;
}
}

.logo-box {
	display: flex;
	align-items:center;
	justify-content: space-around;

}
.logo-title {
	color: $title-color;
	font-size: $h1-fz;
	text-align: center;
	max-width: 20rem;
	// margin-left: 2.3rem;
	text-transform: uppercase;
	&--glide {
		display: none;
	}
	@media screen and (max-width: 992px) {
	display: none;
}
}
.logo--glide {
		transform: scale(0.5);
			//width: 50%;
			//height: 50%;
			margin: 0 auto;
		transition: all 0.6s;

	}
@media screen and (max-width: 992px) {
	.social {
		order:4;
	}
	.logo-box {
		order:2;
	}
	.langchange {
		order:3;
	}
	.nav-col {
		order:1;
	}
	.logo-img {
		line-height: 0;
		font-size: 0;
	}

	.logo {
		
			width: 50%;
			height: 50%;
			margin: 0 auto;
		

	}
}	
.navbar-expand-lg .navbar-collapse {
	flex-basis: 100%;
}

.nav-item {

	
	color: $text-color;
	margin: 1rem;


}
.nav-link {
	text-decoration: none;
	&:hover, 
	&:focus,
	&:active, &.active {
		text-decoration: underline;
	}
}

.navbar-nav {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	// align-content:space-between;
	align-items:space-between;
	@media screen and (max-width: 992px) {
	flex-direction:column ;
}

}
.navbar-toggler {
	
	border:none;
}

.navbar-toggler-icon {
    background-image: url(../img/navbar-icon.png)!important;
	width: 4em;
    height: 4em;
  }
// 
/* Button 1 langchange*/ 

.langchange
{   
    position: relative;  
}



 .knobs, .layer
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.button
{
    position: absolute;
    top: 0;
    right:15px;
    width: 106px;
    height: 36px;
    margin: 0;
    overflow: hidden;
}

.button, .layer
{
    border-radius: 2rem;
    
}
.layer
{
   
    border: 4px solid $title-color;
}

.checkbox
{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;

}

.knobs
{
    z-index: 2;
}

.layer
{
    width: 100%;
    background-color: $text-color;
    transition: 0.3s ease all;
    z-index: 1;
    color: $title-color;
    text-transform: uppercase;
    font-size: 2rem;
    line-height: 1.6rem;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;

}

#button-1 .knobs:before
{
    content: 'ENG';
    position: absolute;
    top: 4px;
    left: 3px;
    width: 4.4rem;
    height: 1.1rem;
    color: $text-color;
    font-size: 2rem;    
    line-height: 1rem;
    text-align: center;
    padding: 9px 4px;
    background-color: $title-color;
    border-radius: 2rem;
   
    transition: 0.5s  all;
}

#button-1 .checkbox:checked + .knobs:before
{
    content: 'UA';
    transform: translateX(50px);
    background-color: $title-color;
}

// ========end button 

.social {
	
	&__list {
		list-style-type: none;
		padding: 0;
		margin: 0;
		display: flex;
		@media screen and (max-width: 992px) {
			justify-content:center ;
			padding: 1rem;

		}
	}
	&__item {
		margin-right: 1.5rem;
		display: block;
		width: 4.8rem;
		height: 4.8rem;
		border-radius:50%;
		border:  3px solid $title-color;
		position: relative;
		transition: all 0.6s ease;
		a {
			color: $title-color;
			font-size: 2.7rem;
			line-height: 4.2rem;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			text-align: center;
		}
		&:hover {
			background-color: $title-color;
			a {
				color: $text-color;
			}
		}
	}
}

.nav-link {
	font-size: $fz-nav-link;
	color: $title-color;
	
}
// footer styles
.copirate {
	font-size: 1.75rem;
	color: $bg-blue;
	&__link {
		color: $title-color;
		&:hover {
			// background-color: $title-color;
			color: #fff;
			text-decoration: none;			
		}
	}

}



//============== 

//our team
.member {
	&__card {}
	&__title {}
	&__subscribe {}
	&__city {}
	&__phone {}
	&__email {}
	&__resume {}
	&__img {
		width: 18.3rem;
		height: 18.3rem;
		overflow: hidden;
		border-radius: 50%;
		border: 5px solid $text-color; 
		position: relative;
		margin: auto;
		//z-index: 5;
		img {
			position: absolute;
			top: 0;
			left: 50%;
			transform: translate(-50%, 0);
			max-width: 100%;
			height: auto;

			//z-index: 3;
		}
	}

}


//================



.fz-0 { 
	font-size: 0;
}
.bg-transparent {
	background-color: transparent;
}

